body {
    font-family : Arial, sans-serif;
    background-color: f9f9f9;
    color: #333;
    padding: 20px;
}
h1 {
    color: black;
}
.lien-anime {
    display: inline-block;
    color: #e0e0e0;
    font-size: 20px;
    text-decoration: none;
    position: relative;
    transition: transform 0.3s ease;
  }
  .lien-anime::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #007BFF;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
  }
  
  .lien-anime:hover {
    transform: scale(1.05);
  }
  
  .lien-anime:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }
